.group_btn button {
  width: calc(100% / 3);
  padding: 0.75em;
  background-color: rgba(212, 212, 212, 0.2);
  border: none;
  transition: 0.4s ease all;
  cursor: pointer;
}
.group_btn button:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.group_btn button:hover,
.group_btn button:target,
.group_btn button:focus {
  outline: 0;
  background-color: rgba(212, 212, 212, 0.8);
}
