form{
    input, select, option, button{
        padding:.75em;
        border: 1px solid #757575;
        height: 40px;
        vertical-align: middle;
        transition:.2s ease all;
        &:target, &:focus, &:hover{
            outline: none;
            border: 1px solid #757575;
            background-color:rgba(0,0,0,.05);
        }
    }
    input, select, button {
        width: calc( 100% / 3);
    }
    button{
        width: calc(100% / 2);
    }
    option:hover {
        background-color:#c8c8c8;
        color:#fff;
        outline: none;
    }
    button {
        background-color: #f9f9f9;
        outline: none;
        cursor: pointer;
        transition:.2s ease all;
        &:hover {
            background-color:rgba(0,0,0,.05);
        }
    }
}
