<h1>Jeux disponibles</h1>

<app-game-list-filter (filter)="onFilter($event)"></app-game-list-filter>

<div>
  <button (click)="sizeDown()">-</button>
  <button (click)="sizeUp()">+</button>
  <button (click)="sizeReset()">100%</button>
</div>

<section>
  <article *ngFor="let game of filteredEntities" [ngStyle]="{'width': width + 'px'}">
    <header>
      <img src="http://fakeimg.pl/50" alt="editor">
      <div>
        <h1>{{ game.name }}</h1>
        <p>{{ game.category }}</p>
      </div>
      <div class="spacer"></div>
      <p>{{ game.note }}/10</p>
    </header>

    <img [src]="game.image" alt="game logo">

    <main>
      {{ truncate(game.description) }}
    </main>

    <footer>
      <app-game-actions
          (click)="onActionClick($event, game)">
      </app-game-actions>
    </footer>
  </article>
</section>
